<h1> Todos los posts de la banda </h1>

<% @posts.each do |post| %>
  <h2> <%= link_to(post.title, post_path(post)) %> </h2>
<% end %>

<% if user_signed_in? %>
  <%= link_to "Nuevo post", new_post_path %>
<% end %>
